/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100vh;
    
}

body.no-chat-scroll {
    overflow-y: auto; /* Enable scrolling on the body */
}

/* Replicate the scrollbar styling from #chat-box for the body in collapsed mode */
body.no-chat-scroll::-webkit-scrollbar {
    width: 8px;
}

body.no-chat-scroll::-webkit-scrollbar-track {
    background: #f0f0f0;
}

body.no-chat-scroll::-webkit-scrollbar-thumb {
    background-color: #c0c0c0;
    border-radius: 4px;
}

body.no-chat-scroll #chat-box {
    overflow: visible;
}

body.no-chat-scroll .chat-window {
    overflow: visible;
}

.chat-window {
    flex: 1;
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 20px;
    overflow: hidden;
}

.chat-window.collapsed {
    max-width: calc(60vw);
    margin: 0 auto;
    transition: margin 0.3s ease;
}

@media (max-width: 1100px) {
    .chat-window.collapsed {
        max-width: calc(60vw);
        margin: 0px 0px 0px auto;
        transition: margin 0.3s ease;
    }
}

#chat-box {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 10px;
    padding-right: 10px;
}

#chat-box::-webkit-scrollbar {
    width: 8px;
}

#chat-box::-webkit-scrollbar-track {
    background: #f0f0f0;
}

#chat-box::-webkit-scrollbar-thumb {
    background-color: #c0c0c0;
    border-radius: 4px;
}

#chat-input {
    width: 100%;
    background-color: #f0f0f0;
    border: none;
    resize: none;
    outline: none;
    font-family: open sans;
    font-size: 12px;
    line-height: 1.4;
    height: 20px;
    overflow: hidden;
    transition: height 0.2s ease; /* Smooth height transition */
}

.input-container {
    display: flex;
    align-items: center;
    border-radius: 50px;
    background-color: #f0f0f0;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    box-sizing: border-box; /* Ensure padding is included in the total width */
}

.input-container.collapsed {
    position: sticky;
    bottom: 0;
    z-index: 10;
    background-color: #f0f0f0;
}

.attach-icon {
    cursor: pointer;
    font-size: 24px;
    margin-right: 10px;
    color: #909095 !important;
}

.chat-item .bin-icon-button {
    display: none;
}

/* Display the bin icon when hovering over the chat item */
.chat-item:hover .bin-icon-button {
    display: inline-block;
    color: #888;
    cursor: pointer;
    border: none;
    margin-left: 8px;
    margin-top: 3px;
}

/* Display the bin icon when the chat item or any of its descendants have focus */
.chat-item:focus-within .bin-icon-button {
    display: inline-block;
    color: #888;
    cursor: pointer;
    border: none;
    margin-left: 8px;
    margin-top: 3px;
}

/* Ensure the bin icon is focusable and styled when focused */
.bin-icon-button:focus {
    outline: 2px solid #005DE8;
    border: none;
}

#send-btn {
    margin-left: 10px;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    color: #909095 !important;
    border: none;
}

.sidebar {
    width: 250px;
    background-color: #F7F8F9;
    transition: width 0.3s ease;
    position: relative;
    z-index: 1;
    padding-top: 50px;
    overflow-y: auto;
    
}

.sidebar.collapsed {
    width: 0;
    overflow: hidden;
}

/* Optional scrollbar styling for WebKit browsers */
.sidebar::-webkit-scrollbar {
    width: 8px;
}

.sidebar::-webkit-scrollbar-track {
    background: #f0f0f0;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #c0c0c0;
    border-radius: 4px;
}


.icon-container {
    display: flex;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 3;
}

.collapse-icon, .new-chat-icon, .attach-icon, .tutor-mode-icon {
    cursor: pointer;
    font-size: 36px;
    margin-right: 10px;
    color: #CBCCCF;
    background-color: transparent;
    border: 0;
}

.icon-container.active {
    background-color: #F7F8F9;
    width: 200px;
    transition-delay: 150ms;
}

.collapse-icon.active,
.new-chat-icon.active,
.tutor-mode-icon.active {
    color: #909095;
}

.send-icon {
    cursor: pointer;
    font-size: 36px;
    margin-left: 10px;
    color: #CBCCCF;
}

#send-btn.active {
    color: #005DE8 !important;
}

.no-bullets {
    list-style-type: none;
    padding: 20px;
    margin: 0;
    font-family: merriweather ;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.4;
    color: #2b2b2b;
    margin-bottom: 10px;
    margin-top: 10px;
}

.chat-category-list{
    margin-top: 10px;
    margin-bottom: 5px;
    
}
ul {
    padding-left: 0;
    margin-left: 0;
}

.chat-item {
    display: flex;
    align-items: start;
    justify-content: space-between; 
    margin-bottom: 0px;
    font-family: open sans;
    font-size: 12px;
    line-height: 1.4;
    font-weight: 400;
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    list-style-type: none;
    margin-left: 0;
}

.hidden-chat {
    display: none;
}


.chat-item:hover {
    background-color: #eff0f1;
}

.chat-item:focus {
    outline: 2px solid #005DE8; /* Adjust color to match your theme */
    background-color: #eff0f1; /* Optional: change background on focus */
}

ul.chat-category-list {
    padding-left: 0;
}

.message {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    color: #2b2b2b;
}

.user .message-content .message-body .message-text {
    margin: 0;
}

.message.user {
    justify-content: flex-end;
}

.message.ai {
    justify-content: flex-start;
   
}

.ai .message-content .message-body .message-text {
    margin-left: 5px;
}

.ai .message-content .message-body .message-text ul {
    margin: 10px auto;
}

.ai .message-content .message-body .message-text ol {
    margin: 20px 0px 0px 40px;
}

.message-content {
    max-width: 60%;
    padding: 10px;
    border-radius: 8px;
    font-family: open sans;
    font-size: 12px;
    line-height: 1.6;
}

.message.user .message-content {
    background-color: #005DE8;
    text-align: right;
    color: #ffffff;
}

.message.ai .message-content {
    background-color: none;
    display: flex;
    
}

.ai-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

/* Loading dots animation */
.loading-dots {
    margin-top: 10px;
    display: inline-block;
    position: relative;
    width: 36px;
    height: 36px;
    margin-left: 10px;
    vertical-align: middle;
}

.loading-dots div {
    position: absolute;
    width: 8px;
    height: 8px;
    background: #005DE8;
    border-radius: 50%;
    animation: loading-dots 1.2s infinite ease-in-out;
}

.loading-dots div:nth-child(1) {
    left: 0px;
    animation-delay: -0.24s;
}

.loading-dots div:nth-child(2) {
    left: 12px;
    animation-delay: -0.12s;
}

.loading-dots div:nth-child(3) {
    left: 24px;
    animation-delay: 0;
}

@keyframes loading-dots {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.5);
    }
}

/* Formatting */
  .table {
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    border-color: #909090;
    margin: 15px 0px;
  }

  .table thead {
    background-color: #240F6E;
    color: white;
  }

  .table th, .table td {
    padding: 10px;
    text-align: center;
  }

  .table td {
    border: 1px solid #ddd;
  }

  .table th {
    border-top: none;
  }

  /* Zebra stripe effect for rows */
  .table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  .table tbody tr:hover {
    background-color: #f1f1f1;
  }

  /* Optional: Bottom border for header */
  .table thead th {
    border-bottom: 2px solid #ddd;
  }

  .display-formula {
    text-align: center;
    font-family: 'Times New Roman', serif;
    font-size: 1.5em;
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 8px;
    display: inline-block;
  }
  
  .inline-formula {
    font-family: 'Times New Roman', serif;
    font-size: 1em;
    color: black;
  }

/* Styling for the container of file uploads */
.file-upload-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: transparent;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.file-upload-container .message-content {
    background-color: #ffffff;
    color: #2b2b2b;
    padding: 10px;
    max-width: 60%;
    text-align: right;
    display: flex;
    align-items: center;

}

/* Styling for the file link in the chat */
.file-link {
    font-family: open sans;
    font-size: 12px;
    line-height: 1.4;
    color: #005DE8;
    text-decoration: underline;
    margin-right: 10px;
}

/* Styling for the delete button next to the file link */
.delete-button {
    cursor: pointer;
    font-size: 18px;
    color: #b5b5b6;
    margin-left: 10px;
}

.delete-button:hover {
    color: #ff4d4d;
}

/* Code block container styling */
.code-block-container {
    position: relative;
    background-color: #0d0d0d;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    overflow: auto;
}

/* Code element styling */
pre {
    margin: 0;
    font-family: 'Courier New', monospace;
}

pre code.hljs {
    background-color: #0d0d0d;
}

.code-block-container .code-copy-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* Code block itself */
.code-block-container pre {
    margin: 0;
    padding-right: 30px;
}

/* Copy button inside the code block */
.code-copy-button {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    color: #888;
    font-size: 18px;
    transition: color 0.2s;
}

.code-copy-button:hover {
    color: #005DE8; 
}

.code-copy-button:active {
    color: #005DE8;
}

/* Entire message copy button container */
.copy-button-container {
    margin-top: 8px;
    display: flex;
    justify-content: flex-start;
}

/* Copy button for entire message */
.copy-button {
    cursor: pointer;
    color: #888;
    font-size: 18px;
    transition: color 0.2s;
}

.ai .message-content .message-body .copy-button {
    margin-left: 10px;
}

.copy-button:hover {
    color: #005DE8;
}

.copy-button:active {
    color: #005DE8;
}

.welcome-container {
    text-align: center;
    padding: 50px;
    display: none;
}

.welcome-image {
    width: 80%;
    max-width: 400px;
    height: auto;
    margin-bottom: -20px;
}

.welcome-container h1 {
    font-family: merriweather;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
}

.welcome-container p {
    font-family: open sans;
    font-size: 12px;
    color: #666;
}

@media (max-width: 768px) {
    .welcome-container h1 {
        font-size: 22px;
    }


    .welcome-image {
        width: 100%;
        
        
    }
}

@media (max-width: 480px) {
    .welcome-container h1 {
        font-size: 18px;
    }


    .welcome-image {
        width: 100%;
        
    }
}



#tutor-mode-dropdown {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 100px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 40px;
    left: 80%;
    align-items: center;
    transform: translateX(-50%);
    border-radius: 10px;
}

#tutor-mode-dropdown .dropdown-item {
    color: #646468;
    background-color: #ffffff;
    border: none;
    border-radius: 8px;
    min-width: 80px;
    padding: 5px;
    text-align: left;
    font-family: open sans;
    font-weight: 600;
    font-size: 12px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    margin: 8px;
}

#tutor-mode-dropdown .dropdown-item:hover {
    background-color: #F4F5F7;
}

/* Hide the checkmark by default */
.checkmark {
    display: none;
    margin-left: 10px;
    color: #006FBF;
}

/* Show the checkmark for the active item */
.active .checkmark {
    color: #006FBF;
    display: inline;
    background-color: #F4F5F7;
}

.code-block-container .code-copy-button {
    color: #fff;
}

.code-block-container .code-copy-button:hover {
    color: #005DE8; 
}

/* Styling for code blocks */
.hljs-keyword {
    color: #2e95d3 !important;
}

.hljs {
    color: #fff !important;
}

.hljs-string {
    color: #00a67d !important;
}

.hljs-title {
    color: #f22c3d !important;
} 

.hljs-number {
    color: #df3079 !important;
}

.hljs-attr {
    color: #df3079 !important;
}

.hljs-comment {
    color: #ffffff80 !important;
}

.hljs-tag {
    color: #fff !important;
}

.hljs-name {
    color: #fff !important;
}

.hljs-attribute {
    color: #00a67d !important;
}

.hljs-variable {
    color: #df3079 !important;
}

.hljs-symbol {
    color: #f22c3d !important;
}

.hljs-built_in {
    color: #e9950c !important;
}

/* Accessible */
:focus {
    outline: 2px solid #005DE8; /* High-contrast focus indicator */
}

/* Ensure that the focus indicator is visible */
button:focus, 
input:focus, 
textarea:focus {
    outline: 2px solid #005DE8;
    outline-offset: 2px;
}

/* High Contrast Mode Support */
@media (prefers-contrast: high) {
    body {
        background-color: #ffffff;
        color: #000000;
    }
    
    /* Adjust colors to ensure sufficient contrast */
    .message.user .message-content {
        background-color: #005DE8;
        color: #ffffff;
    }

    .message.ai .message-content {
        background-color: #f0f0f0;
        color: #000000;
    }
}

.input-container.dragover,
.input-container.dragover * {
    border: 2px dashed #999;
    background-color: #f9f9f9;
}

.popup-container {
    position: absolute;
    bottom: 100px; /* Adjust this value to position the popup above the input container */
    left: 50%;
    transform: translateX(-50%);
    background-color: #bb3b3b;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    z-index: 1000;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    max-width: 80%;
    word-wrap: break-word;
    animation: fadeIn 0.3s ease-in-out;
}

/* Popup Message */
.popup-message {
    font-size: 16px;
    margin-right: 10px;
    display: inline-block;
}

/* Popup Close Button */
.popup-close-button {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    margin-left: 10px;
    display: inline-block;
}

/* Fade-in Animation */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
