/* Reset CSS */


.container {
    display: flex;
    height: 100vh;
}

.chat-window {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow: hidden;
}

.chat-window.collapsed {
    max-width: calc(60vw);
    margin: 0 auto;
    transition: margin 0.3s ease;
}

@media (max-width: 1100px) {
    .chat-window.collapsed {
        max-width: calc(60vw);
        margin: 0px 0px 0px auto;
        transition: margin 0.3s ease;
    }
}

#chat-box {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 10px;
    padding: 10px;
}

#chat-input {
    width: 100%;
    background-color: #f0f0f0;
    border: none;
    resize: none;
    outline: none;
    font-family: open sans;
    font-size: 12px;
    line-height: 1.4;
    padding: 5px;
    height: 30px; /* Default height */
    overflow: hidden; /* Hide overflow initially */
    transition: height 0.2s ease; /* Smooth height transition */
}

.input-container {
    display: flex;
    align-items: center;
    border-radius: 50px;
    background-color: #f0f0f0;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    box-sizing: border-box; /* Ensure padding is included in the total width */
}

.attach-icon {
    cursor: pointer;
    font-size: 24px;
    margin-right: 10px;
    color: #909095 !important;
}

.chat-item .bin-icon {
    display: none;
}

/* Display the bin icon only on hover */
.chat-item:hover .bin-icon {
    display: inline-block;
    color: #888;
    cursor: pointer;
    margin-left: 8px;
    margin-top: 3px;
}

#send-btn {
    margin-left: 10px;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    color: #909095 !important;
}

.sidebar {
    width: 250px;
    background-color: #F7F8F9;
    transition: width 0.3s ease;
    position: relative;
    z-index: 1;
    padding-top: 50px;
    overflow-y: auto;
    
}

.sidebar.collapsed {
    width: 0;
    overflow: hidden;
}

/* Optional scrollbar styling for WebKit browsers */
.sidebar::-webkit-scrollbar {
    width: 8px;
}

.sidebar::-webkit-scrollbar-track {
    background: #f0f0f0;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #c0c0c0;
    border-radius: 4px;
}


.icon-container {
    display: flex;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 3;
}

.collapse-icon, .new-chat-icon, .attach-icon, .tutor-mode-icon {
    cursor: pointer;
    font-size: 36px;
    margin-right: 10px;
    color: #CBCCCF;
    background-color: transparent;
    border: 0;
}

.icon-container.active {
    background-color: #F7F8F9;
    width: 200px;
}

.collapse-icon.active,
.new-chat-icon.active,
.tutor-mode-icon.active {
    color: #909095;
}

.send-icon {
    cursor: pointer;
    font-size: 36px;
    margin-left: 10px;
    color: #CBCCCF;
}

#send-btn.active {
    color: #005DE8 !important;
}

.no-bullets {
    list-style-type: none;
    padding: 20px;
    margin: 0;
    font-family: merriweather ;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.4;
    color: #2b2b2b;
    margin-bottom: 10px;
    margin-top: 10px;
}

.chat-category-list{
    margin-top: 10px;
    margin-bottom: 5px;
    
}
ul {
    padding-left: 0;
    margin-left: 0;
}

.chat-item {
    display: flex;
    align-items: start;
    justify-content: space-between; 
    margin-bottom: 0px;
    font-family: open sans;
    font-size: 12px;
    line-height: 1.4;
    font-weight: 400;
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    list-style-type: none;
    margin-left: 0;
}

.hidden-chat {
    display: none;
}


.chat-item:hover {
    background-color: #eff0f1;
}

ul.chat-category-list {
    padding-left: 0;
}

.message {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    color: #2b2b2b;
}

.message.user {
    justify-content: flex-end;
}

.message.ai {
    justify-content: flex-start;
   
}

.message-content {
    max-width: 60%;
    padding: 10px;
    border-radius: 8px;
    font-family: open sans;
    font-size: 12px;
    line-height: 1.6;
}

.message.user .message-content {
    background-color: #005DE8;
    text-align: right;
    color: #ffffff;
}

.message.ai .message-content {
    background-color: none;
    display: flex;
    
}


.ai-icon {
    margin-top: 10px;
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

/* Loading dots animation */
.loading-dots {
    margin-top: 10px;
    display: inline-block;
    position: relative;
    width: 36px;
    height: 36px;
    margin-left: 10px;
    vertical-align: middle;
}

.loading-dots div {
    position: absolute;
    width: 8px;
    height: 8px;
    background: #005DE8;
    border-radius: 50%;
    animation: loading-dots 1.2s infinite ease-in-out;
}

.loading-dots div:nth-child(1) {
    left: 0px;
    animation-delay: -0.24s;
}

.loading-dots div:nth-child(2) {
    left: 12px;
    animation-delay: -0.12s;
}

.loading-dots div:nth-child(3) {
    left: 24px;
    animation-delay: 0;
}

@keyframes loading-dots {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.5);
    }
}

/* Formatting */
  .table {
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    border-color: #909090;
  }

  .table thead {
    background-color: #240F6E;
    color: white;
  }

  .table th, .table td {
    padding: 10px;
    text-align: center;
  }

  .table td {
    border: 1px solid #ddd;
  }

  .table th {
    border-top: none;
  }

  /* Zebra stripe effect for rows */
  .table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  .table tbody tr:hover {
    background-color: #f1f1f1;
  }

  /* Optional: Bottom border for header */
  .table thead th {
    border-bottom: 2px solid #ddd;
  }


/* Styling for the container of file uploads */
.file-upload-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: transparent;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.file-upload-container .message-content {
    background-color: #ffffff;
    color: #2b2b2b;
    padding: 10px;
    max-width: 60%;
    text-align: right;
    display: flex;
    align-items: center;

}

/* Styling for the file link in the chat */
.file-link {
    font-family: open sans;
    font-size: 12px;
    line-height: 1.4;
    color: #005DE8;
    text-decoration: underline;
    margin-right: 10px;
}

/* Styling for the delete button next to the file link */
.delete-button {
    cursor: pointer;
    font-size: 18px;
    color: #b5b5b6;
    margin-left: 10px;
}

.delete-button:hover {
    color: #ff4d4d;
}

/* Code block container styling */
.code-block-container {
    position: relative;
    background-color: #0d0d0d;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    overflow: auto;
}

/* Code element styling */
pre {
    margin: 0;
    font-family: 'Courier New', monospace;
}

pre code.hljs {
    background-color: #0d0d0d;
}

.code-block-container .code-copy-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* Code block itself */
.code-block-container pre {
    margin: 0;
    padding-right: 30px;
}

/* Copy button inside the code block */
.code-copy-button {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    color: #888;
    font-size: 18px;
    transition: color 0.2s;
}

.code-copy-button:hover {
    color: #005DE8; 
}

.code-copy-button:active {
    color: #005DE8;
}

/* Entire message copy button container */
.copy-button-container {
    margin-top: 8px;
    display: flex;
    justify-content: flex-start;
}

/* Copy button for entire message */
.copy-button {
    cursor: pointer;
    color: #888;
    font-size: 18px;
    transition: color 0.2s;
}

.copy-button:hover {
    color: #005DE8;
}

.copy-button:active {
    color: #005DE8;
}

.welcome-container {
    text-align: center;
    padding: 50px;
    display: none;
}

.welcome-image {
    width: 80%;
    max-width: 400px;
    height: auto;
    margin-bottom: -20px;
}

.welcome-container h1 {
    font-family: merriweather;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
}

.welcome-container p {
    font-family: open sans;
    font-size: 12px;
    color: #666;
}

@media (max-width: 768px) {
    .welcome-container h1 {
        font-size: 22px;
    }


    .welcome-image {
        width: 100%;
        
        
    }
}

@media (max-width: 480px) {
    .welcome-container h1 {
        font-size: 18px;
    }


    .welcome-image {
        width: 100%;
        
    }
}



#tutor-mode-dropdown {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 100px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 40px;
    left: 80%;
    align-items: center;
    transform: translateX(-50%);
    border-radius: 10px;
}

#tutor-mode-dropdown .dropdown-item {
    color: #646468;
    background-color: #ffffff;
    border: none;
    border-radius: 8px;
    min-width: 80px;
    padding: 5px;
    text-align: left;
    font-family: open sans;
    font-weight: 600;
    font-size: 12px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    margin: 8px;
}

#tutor-mode-dropdown .dropdown-item:hover {
    background-color: #F4F5F7;
}

/* Hide the checkmark by default */
.checkmark {
    display: none;
    margin-left: 10px;
    color: #006FBF;
}

/* Show the checkmark for the active item */
.active .checkmark {
    color: #006FBF;
    display: inline;
    background-color: #F4F5F7;
}

/* Styling for code blocks */
.hljs-keyword {
    color: #2e95d3 !important;
}

.hljs {
    color: #CBCCCF !important;
}

.hljs-string {
    color: #00a67d !important;
}

.hljs-title {
    color: #f22c3d !important;
} 

.hljs-number {
    color: #df3079 !important;
}

.hljs-attr {
    color: #00a67d !important;
}

.hljs-comment {
    color: #ffffff80 !important;
}